$red: #f13b38;
.header {
  background-color: $red;
  color: white;
  height: 50px;
  line-height: 50px;
  @media screen and (max-width: 767px) {
    height: 40px;
    line-height: 40px;
  }
  padding: 0 10px;
  // @media screen and(max-width: 767px) {
  //   padding: 0 2px;
  // }
  // .ant-row {
  //   height: 50px;
  // }
  .left {
    font-size: 1.2em;
  }
  .middle {
    text-align: center;
  }
  .right {
    text-align: right;
    a {
      color: white;
      text-decoration: none;
      margin: 0;
    }
  }
}
