// $a: 0.7;
$red: #f13b38;
$red-deep: #a60a0b;
// $red-deep: rgba(166, 10, 11, $a);
$blue: #578fe4;
$blue-deep: #196ae4;
// $blue-deep: rgba(87, 143, 228, $a);
$purple: #9652bf;
$purple-deep: #ae46ee;
// $purple-deep: rgba(150, 82, 191, $a);
$pink: #f0514e;
$pink-deep: #fc3632;
// $pink-deep: rgba(240, 81, 78, $a);
$orange: #eca403;
$orange-deep: #ffc33c;
$green: #1cc769;
$green-deep: #2ede7d;
$cyan: #1cb3cc;
$cyan-deep: #42c8de;

.ant-layout {
  background-color: white;
}
.header {
  background-color: $red;
  color: white;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  strong {
    font-size: 1.6em;
  }
  span {
    font-size: 1.2em;
    margin-left: 10px;
  }
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    color: white;
  }
}

/* button-index */
@mixin button-base($color, $color-deep) {
  @media screen and (max-width: 767px) {
    width: 100px;
    height: 50px;
  }
  width: 80%;
  height: 80px;
  font-size: 1.3em;
  background-color: $color;
  border: none;
  &:hover {
    background-color: $color-deep;
  }
  &:focus {
    background-color: $color-deep;
  }
  span:first-child {
    display: inline-block;
    transform: translateX(-40%);
  }
}
.button-grade {
  @include button-base($blue, $blue-deep);
}
.button-classroom {
  @include button-base($pink, $pink-deep);
}
.button-course {
  @include button-base($purple, $purple-deep);
}
.button-takecourse {
  @include button-base($orange, $orange-deep);
}
.button-bus {
  @include button-base($green, $green-deep);
}
.button-calendar {
  @include button-base($cyan, $cyan-deep);
}
