.item {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    .ant-form-item-label {
      float: left;
    }
  }
}
.form {
  margin: 10px;
  width: 600px;
  text-align: center;
  border: 1px solid #e8b2ad;
  padding-top: 24px;
  box-shadow: 5px 5px 5px;
  background-color: #ece3e3;
  img {
    padding-bottom: 30px;
  }
}
