.item {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    .ant-form-item-label {
      float: left;
    }
  }
}
.form {
  margin: 10px;
  width: 600px;
  text-align: center;
}
